@{
    ViewBag.Title = "Báo cáo phân tích số liệu dự án đầu tư";
}

<div class="container-fluid">
    <h1 class="mt-4">Dự báo tổng hợp</h1>
    <ol class="breadcrumb mb-4">
        <img src="~/Content/Chi RD.png" class="img-fluid" />
    </ol>
    <ol class="breadcrumb mb-4">
        <img src="~/Content/Tham gia RD.png" class="img-fluid" />
    </ol>
    <ol class="breadcrumb mb-4">
        <img src="~/Content/xuat khau cnc.png" class="img-fluid" />
    </ol>
</div>